vndbinder_use(hal_camera_default)

allow hal_camera_default hal_graphics_mapper_hwservice:hwservice_manager find;

# libmmjpeg.so still needs text relocation support
allow hal_camera_default vendor_file:file execmod;

r_dir_file(hal_camera_default, sysfs_socinfo)

unix_socket_send(hal_camera_default, camera, mm-qcamerad)

unix_socket_send(hal_camera_default, mpctl, mpdecision)
