allow hal_bluetooth_default bluetooth_data_file:file r_file_perms;
allow hal_bluetooth_default bluetooth_data_file:dir { search };
r_dir_file(hal_bluetooth_default, firmware_file)
