vndbinder_use(hal_camera_default)

allow hal_camera_default hal_graphics_mapper_hwservice:hwservice_manager find;

unix_socket_send(hal_camera_default, camera, camera)
