# Create sockets under each /dev/socket/qmux_* directory.
allow qmuxd qmuxd_socket:dir w_dir_perms;
allow qmuxd qmuxd_socket:sock_file { create setattr getattr unlink };

# /dev/hsicctl* node access
allow qmuxd radio_device:chr_file rw_file_perms;
allow qmuxd sysfs_smd_open_timeout:file rw_file_perms;

