# PowerManagerService access to sensors socket
unix_socket_connect(system_server, sensors, sensors)
unix_socket_send(system_server, sensors, sensors)

# mpdecision socket access
allow system_server mpdecision:unix_stream_socket sendto;
allow system_server mpctl_socket:dir search;

# Read /data/tombstones/ramdump files.
allow system_server ssr_ramdump_data_file:dir r_dir_perms;
allow system_server ssr_ramdump_data_file:file r_file_perms;

allow system_server sdcardfs:dir r_dir_perms;
allow system_server sdcardfs:file r_file_perms;

allow system_server adb_data_file:dir r_dir_perms;
allow system_server adb_data_file:file r_file_perms;

allow system_server unlabeled:file { read getattr unlink };
allow system_server unlabeled:lnk_file { read getattr unlink };

allow system_server self:netlink_socket create_socket_perms_no_ioctl;
allow system_server sysfs_thermal:file r_file_perms;

allowxperm system_server self:socket ioctl msm_sock_ipc_ioctls;
allowxperm system_server self:udp_socket ioctl { SIOCSIFFLAGS SIOCDEVPRIVATE_D };

allow system_server self:socket ioctl;
allow system_server self:socket create_socket_perms;
